@model IEnumerable<IIS.Models.Tickets.Ticket>
@{
    Layout = "_Layout";
}
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
        <tr>
            <th></th>
            <th class="mdl-data-table__cell--non-numeric">From</th>
            <th>To</th>
            <th>At</th>
            <th>Company</th>
            <th>Category</th>
            <th>For</th>
        </tr>
    </thead>
    <tbody id="tableBody" runat="server">
        @foreach (var ticket in Model)
        {
            <tr>
                <td><input type="checkbox" value="@ticket.Id" name="id" /></td>
                <td class="mdl-data-table__cell--non-numeric">@ticket.FromAirport.Location</td>
                <td>@ticket.ToAirport.Location</td>
                <td>@ticket.Date</td>
                <td>@ticket.Company.FullName</td>
                <td>@ticket.Category.FullName</td>
                <td>@ticket.Price$</td>
                <td>@Html.ActionLink("Edit", "EditTicket", "Moderator", new { ticket.Id }, null)</td>
            </tr>
        }
    </tbody>
</table>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button" onclick="location.href = '@Url.Action("AddFlight", "Moderator")'">Add flight</button>